





<div fxFlexFill fxLayout="column" class="section-main" fxLayoutAlign=" center">
  <div class="overlay"></div>
  <div class="wrapper">
      <div fxLayout="row wrap" class="colored box nopad" >
          <div fxFlex="none">
              <img src="/assets/logo.png" class="logo">
          </div>
          <div fxFlex>            [flex]              </div>
          <div fxFlex="nogrow" fxLayoutAlign="center center" class="menu">   
            <button mat-button class="item">List your space</button>
            <button mat-button class="item">Sign in</button>
            <button mat-button class="item">Sign up</button>
          </div>
          <div fxFlex="grow">     [flex="grow"]       </div>
          
          <div fxFlex="33.33%">   [flex="33.33%"]     </div>
          <div fxFlex="33.33%">   [flex="33.33%"]     </div>
          <div fxFlex="33.33%">   [flex="33.33%"]     </div>
          
        </div>   
  </div>       
</div>

